<h1>Create a Label</h1>

<%= form_with model: @label do |f| %>
  <% if @label.errors.any? %>
    <div style="color:red">
      <% @label.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label :book_id, "Book" %>
    <%= f.collection_select :book_id, @books, :id, :title, { prompt: "Select a book" }, { required: true } %>
  </div>

  <div>
    <%= f.label :location_id, "Location" %>
    <%= f.collection_select :location_id, @locations, :id, :name, { prompt: "Select a location" }, { required: true } %>
  </div>

  <%= f.submit "Create Label" %>
<% end %>